{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}
    <h1>Nouvelle Operation</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('app_operation_index') }}">retour à la liste</a>
{% endblock %}
