{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1 class="mt-3">Bienvenue Proprietaire</h1>
    {% else %}
        <h1 class="mt-3">Bienvenue Gerant</h1>
    {% endif %}
{% endblock %}
