{% extends 'base.html.twig' %}

{% block title %}New Depense{% endblock %}

{% block body %}
    <h1>Nouvelle Depense</h1>

    {{ include('depense/_form.html.twig') }}

    <a href="{{ path('app_depense_index') }}">retour à la liste</a>
{% endblock %}
